.mainheader{
    background-color: white;
    padding: 20px 0px;
  }
  
  .mainheader__container{
    align-items: center;
  }

  .mainheader__logo{
    width: 146px;
  }
  
  .mainheader__link {
    color: black;
    text-decoration: none;
    margin-left: 25px;
    font-size: .8em;
    
  }



  .mainheader__nav{
    margin: auto;
    width: 100%;
  }


  .mainheader__mainnav{
    max-width: 1000px;
    margin: 0 auto;
  }
  